// File: src/Controller/TasksController.php
namespace App\Controller;

use App\Controller\AppController;

class TasksController extends AppController
{
    public function index()
    {
        $tasks = $this->Tasks->find('all');
        $this->set(compact('tasks'));
    }

    public function add()
    {
        $task = $this->Tasks->newEmptyEntity();
        if ($this->request->is('post')) {
            $task = $this->Tasks->patchEntity($task, $this->request->getData());
            if ($this->Tasks->save($task)) {
                $this->Flash->success(__('The task has been saved.'));
                return $this->redirect(['action' => 'index']);
            }
            $this->Flash->error(__('Unable to add the task.'));
        }
        $this->set('task', $task);
    }
}
